<!DOCTYPE html>
<html>
<head>
    <title>UPHSD Log-in</title>
    <link rel="shortcut icon" type="image/png" href="../../static/img/general/uph.png">
    <link rel="stylesheet" href="../../static/css/login/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='../../static/js/login/login.js'></script>
</head>
<body>
    <div class="login container grid">
        <div class="login__container grid">

            <!-- Static Image Section -->
            <div class="login__image">
                <img src="../../static/img/sample.jpeg" alt="Login Image" class="login__img">
            </div>

            <!-- Login Form Area -->
            <div class="login__area grid">
                <div class="login__data">
                    <!-- PNG Icon Instead of Welcome Text -->
                    <img src="../../static/img/uph.png" alt="Welcome Icon" class="login__icon">
                </div>

                <form action="" class="login__form">
                    <div class="login__content grid">
                        <div class="login__box">
                            <input type="email" name="email" placeholder="Email" class="login__input">
                            <i class="ri-mail-line"></i>
                        </div>

                        <div class="login__box">
                            <input type="password" name="password" placeholder="Password" class="login__input" id="loginPass">
                            <i class="ri-eye-line login__eye" id="loginEye"></i>
                        </div>
                    </div>

                    <a href="#" class="login__forgot">Forgot Password?</a>

                    <button type="submit" class="login__button">Log In</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>